@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "Roles";
    var i = 1;
}

<div class="mt-2">
    <a asp-action="CreateRole" asp-controller="Admin" class="btn btn-primary">+ Role</a>
</div>

<table class="table mt-4">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Role Name</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@(i++)</td>
                <td>@role.Name</td>
                <td>
                    <a class="btn btn-success" asp-action="EditRole" asp-controller="Admin" asp-route-id="@role.Id">Edit</a>
                    <a class="btn btn-danger delete-btn" data-id="@role.Id" asp-action="DeleteRole" asp-controller="Admin" asp-route-id="@role.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

